* {
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}

.red {
    color: red
}

.blue {
    color: blue
}

.green {
    color: green
}
.action-span {
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    line-height: 16px;
    margin-left: 0.8em;
}
.action-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-position: 50% 50%;
    cursor: pointer;
    line-height: 16px;
}